{% extends 'base.html' %}

  {% load static %}
  {% block content %}
  {% for blog in blogs %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ blog.image.url }}" alt="" style="width: 60%">
        
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{ blog.title }}</span></h2>
          <p class="mb-3">{{ blog.content }}</p>

          <div style='text-align: left; font-size: 0.8em;'>
            by {{ blog.author }}
          </div>
         
        </div>
      </div>
    </div>
  </section>
  {% endfor %}

  <section>
    <div style="width: 85%; margin: auto; text-align: center; color: white;">
      Categories:
        {% for blog in blogs %}

          {% for category in blog.categories.all %}

              &nbsp;&nbsp; {{ category.name }} &nbsp;&nbsp;

          {% endfor %}
        {% endfor %}
        <a href="{% url 'Blogs' %}" class='linkCategories'>
        Show all</a>
    </div>
  </section>
  {% endblock %}